/* Page background */
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/images/galaxyhd1.png);
  font-family: Arial, sans-serif;
}

/* Form container */
form {
  box-sizing: border-box;
  background-color:rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  color: white;
  width: 35%;
  height: 400px;
  margin: 180px auto;
  border-radius: 30px;
  padding-top: 100px;
}

/* Input fields */
form input {
  width: 90%;
  max-width: 380px;
  margin: 20px 80px;
  padding: 15px 5px;
  border-radius: 8px;
  border: none;
  outline: none;
  transition: box-shadow 0.3s;
  font-family: "Instrument Serif", serif;
  font-weight: bolder;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.5px;
  background-color: #2b2457;
  color: white;
}

/* Input focus */
form input:focus {
   box-shadow: 0 0 5px 2px rgba(207, 134, 227, 0.5);

}

form input:hover {
   background-color: rgba(146, 98, 178, 0.881);

}

/* Login button */
form button {
  width: 90%;
  max-width: 250px;
  padding: 15px 5px;
  border-radius: 10px;
  border: none;
  background-color: white;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin: 20px 150px;
  display: block;
  font-family: "Instrument Serif", serif;
  font-size: 16px;
  letter-spacing: 1px;
  background-color: #170825;
}

/* Button hover */
form button:hover {
  background-color: rgba(200, 120, 255, 0.9);
  color: white;
  font-weight: 300;
  box-shadow: 0 0 5px 2px rgba(207, 134, 227, 0.5);
}
