body{
margin:0;
font-family:Arial;
background:#30234f;
color:white;

display:flex;
justify-content:center;
align-items:center;

height:100vh;
}

.game-container{
background:#1e1638;
padding:30px;
width:500px;

border-radius:10px;

text-align:center;

box-shadow:0 0 20px rgba(0,0,0,0.5);
}

.top-bar{
display:flex;
justify-content:center;
margin-bottom:20px;
font-weight:bold;
}

#preview-box{

background:white;
color:black;

width:160px;
height:80px;

margin:20px auto;

display:flex;
align-items:center;
justify-content:center;

transition:0.4s;
}

button{

width:100%;
margin:8px 0;
padding:10px;

border:none;
border-radius:5px;

font-size:15px;

cursor:pointer;
}

button:hover{

background:#6a5acd;
color:white;

}

#result{

margin-top:10px;
font-weight:bold;

}

#game-over{

display:none;
margin-top:20px;

}