body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url("/images/galaxyhd.png") no-repeat center center fixed;
  background-size: cover;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #30234f;
  padding: 10px 20px;
  color: white;
}
.navbar .left {
  display: flex;
  align-items: center;
}


.navbar .right {
  display: flex;
  align-items: center;
}
.navbar .right img{
  padding-left: 30px;
}


.card {
  background: #23193a;
  border-radius: 12px;
  margin: 15px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 550px;
  height: 100px;
  font-size: 18px;
  font-weight: bold;
}

.card.plain {
  justify-content: center;
  font-size: 20px;
}

.module-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 25px;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: background 0.3s;
  border-radius: 12px;
}

.module-btn:hover {
  background: rgba(48, 27, 67, 0.9);

}

.locked {
  opacity: 0.5;
  pointer-events: none; 
}

.lock {
  width: 18px;
  margin-left: 10px;
}

.progress {
  margin-left: auto;
  padding-left: 10px;
}
.module-btn img{
  height: 32px;
  margin-right: 10px;
}
.profile{
  margin-left: 280px;
}

