body {
  background: url("/images/galaxyhd1.png") no-repeat center center fixed;
  background-size: cover;
  color: white;
  font-family: monospace;
  text-align: center;
  margin-top: 85px;
}
h1{
  font-family:"Jacques Francois Shadow", serif ;
  font-style:normal ;
  font-weight: lighter;
  font-size: 33px;
}
.task{
  font-family: "instrument serif",serif;
  font-size: 26px;
}
.game {
  width: 450px;
  margin: 40px auto;
  position: relative;
  height: 230px;
  margin-top: 50px;
  right: 15px;

}

.card {
 background: rgba(71, 49, 104, 0.68); /* transparent purple */
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(8px); /* Safari support */

  padding: 20px;
  border-radius: 12px;
  position: absolute;
  width: 100%;
  height: 200px;
  opacity: 0;
  transform: translateX(120%);
  transition: 0.4s;
}

.card.active {
  opacity: 1;
  transform: translateX(0);
  
}

.card.exit {
  transform: translateX(-120%);
  opacity: 0;
}

pre {
  background: #17082F;
  padding: 30px;
  border-radius: 12px;
  color: #ffffff;
  font-size: 20px;

}

input {
  padding: 15px;
  margin-top: 10px;
  width: 130px;
  text-align: center;
  background:#ad86c9ad;
  border: none;
  color: rgb(249, 249, 249);
  border-radius: 6px;
  
}

button {
  margin-top: 10px;
  padding: 15px 22px;
  cursor: pointer;
  width: 130px;
  background: #ad86c9ad;
  border: none;
  border-radius: 6px;
  color: white;
}

.finish {
  font-size: 20px;
}
input::placeholder {
  color: #f6f6f696;   /* change to any color */
  opacity: 1;       /* important for some browsers */
}
