body {
    margin: 0;
    background: url("/images/galaxyhd.png") no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: "Instrument Serif",serif;
    font-weight: lighter;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #30234f;
  padding: 10px 20px;
  color: white;
  margin-bottom: 50px;

}
.navbar .left {
  display: flex;
  align-items: center;
  cursor: pointer;

}


.navbar .right {
  display: flex;
  align-items: center;
 
}
.navbar .right img{
  padding-left: 0px;
  
}
.points {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.graph{
  cursor: pointer;
  transition: filter 0.3s;

}
  

.graph:hover{
  filter: brightness(0) invert(1);
}
.notifications{
  height: 27px;
  cursor: pointer;

}
.notifications:hover{
filter:brightness(100) ;
}
#points-count {
  position: relative;
  top: 1px;   
  margin-left: 4px;
  font-size: 19px;
  font-family: 'Instrument Serif',serif;
  letter-spacing: 0px;

}


.profile{
  margin-left: 900px;
}.menu{
  cursor:pointer;
  transition: content 0.3s;
}
.menu:hover{
content: url(/images/white\ menu.png);
height:19px ;
padding-bottom: 5px;
}
.profile {
    display: flex;
    align-items: center;
    gap: 8px;
}

.profile-pic-wrapper {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}

#home-profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

  
.profile-name{
  font-family:'Instrument Serif',serif ;
  letter-spacing: 1px;
  font-weight: small;
  margin-top: 3px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 230px;
  height: 100%;
  background-color: #30234f;
  color: #fff;
  padding: 20px;
  transition: 0.4s ease;
  z-index: 999;
}

.sidebar.open {
  left: 0;
}

.sidebar h2 {
  font-size: 22px;
  margin-bottom: 25px;
  font-family: "Instrument Serif", serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 18px 0;
}

.sidebar ul li a {
  color: #dddddd;
  text-decoration: none;
  font-size: 18px;
  font-family: "Instrument Serif", serif;
}

.sidebar ul li a:hover {
  color: white;
  text-decoration: underline;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  display: none;
  z-index: 998;
}

.overlay.show {
  display: block;
}




.container {
    width: 84%;
    padding: 60px;
    margin: 40px;
    background: #bb9bd12c;
    backdrop-filter: blur(4px);
    border-radius: 15px;

    /* IMPORTANT: allow content to expand normally */
    height: auto;
    overflow: visible;
}


/* Title Styling */
h1 {
    font-size: 46px;
    letter-spacing: 1.5px;
    margin-top: -10px;
    font-weight: lighter;
    
}
.intro{
    font-size: 27px;
    font-weight: lighter;
}

h2 {
    margin-top: 40px;
    font-size: 30px;
    letter-spacing: 1.2px;
    font-weight: lighter;
}

/* Image Bullet Points */
.topics {
    list-style: none;
    padding-left: 0;
    font-size: 27px;
    line-height: 2.2;
    cursor: pointer;
}

.icon {
    width: 50px;
    height: 50px;
    margin-right: 8px;
    vertical-align: middle;
}

/* Code Box */
.code-box {
    background-color: #747272;
    padding: 10px 12px 10px;
    border-radius: 15px;
    margin-top: 10px;
           /* shrink to content width */
    max-width: 100%;          /* prevent overflow */
    height: auto;             /* grow naturally */
}


.code-box pre {
    margin: 0px;               /* removes extra space */
    line-height: 34px;       /* smaller lines so box is smaller */
    font-size: 21px;
    color: rgb(222, 83, 83);
    white-space: pre-wrap;   /* allows wrapping if needed */
}


.elements{
    font-size: 24px;
    margin-bottom: -15px;
    letter-spacing: 1px;
  
}
p{
    font-size:21px ;
    letter-spacing: 1.5px;
    color:white ;
}
.comment {
    color: rgb(248, 248, 248);
    font-style: italic;
}
.highlight{
    color: black;
}
.charset{
    color: rgb(49, 23, 3);
}
.utf{
    color: rgb(37, 62, 16);
}
