body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("/images/galaxyhd1.png") no-repeat center/cover;
    font-family: "Times New Roman", serif;
}

.profile-card {
    width: 600px;
    padding: 30px;
    background-color: #5a447ca5;
    border-radius: 25px;
    color: white;
    text-align: center;
}

.profile-pic-container {
    position: relative;
    width: 140px;
    height: 140px;
    margin: auto;
}

.profile-pic {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    background: #ddd;
}

.edit-pic-btn {
    position: absolute;
    bottom: 8px;
    right: 8px;
    font-size: 18px;
    background: white;
    border: none;
    padding: 5px 7px;
    border-radius: 50%;
    cursor: pointer;
}

.username-section {
    margin-top: 10px;
}

#username {
    font-size: 22px;
    outline: none;
    margin-left: 30px;

}

.edit-icon {
    cursor: pointer;
    margin-left: 5px;
}

/* --- STATS SECTION --- */

.stats {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 35px;
}

.stat-box {
    width: 250px;
    height: 55px;
    background-color: #17082F;
    padding: 12px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
}

.icon {
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.streak,
.egg {
    width: 30px;
    height: 30px;
    object-fit: contain;
    display: block;
    margin-top: 3px; /* Lifts the egg slightly upward */
}
.egg {
    width: 35px !important;
    height: 35px !important;
    object-fit: contain;
    padding-bottom: 50px;
    padding-right: 8px;
}

.fire {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.stat-box span {
    font-size: 24px;
    
}

.stat-box p {
    font-size: 14px;
    margin: 0;
    opacity: 0.8;
    color: #dddddd99;
}

/* --- BACK BUTTON --- */

.back-btn {
    margin-top: 20px;
    padding: 10px 30px;
    border: none;
    background: #17082F;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    width: 200px;
    font-family: 'Instrument Serif',serif;
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 15px;
}
