body {
  margin: 0;
  font-family: Arial, sans-serif;
  background:url("/images/galaxyhd1.png") no-repeat center center fixed;
  background-size: cover;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #30234f;
  padding: 10px 20px;
  color: white;
  margin-bottom: 80px;
 

}
.navbar .left {
  display: flex;
  align-items: center;
  cursor: pointer;

}


.navbar .right {
  display: flex;
  align-items: center;
 
}
.navbar .right img{
  padding-left: 0px;
  
}
.points {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.graph{
  cursor: pointer;
  transition: filter 0.3s;

}
  

.graph:hover{
  filter: brightness(0) invert(1);
}
.notifications{
  height: 27px;
  cursor: pointer;

}
.notifications:hover{
filter:brightness(100) ;
}
#points-count {
  position: relative;
  top: 1px;   
  margin-left: 4px;
  font-size: 19px;
  font-family: 'Instrument Serif',serif;
  letter-spacing: 0px;

}




.card {
  background: #e4e4e453;

  border-radius: 12px;
  margin: 40px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 590px;
  height: 100px;
  transition: background-color 0.3s;
  position: relative;
  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.15);

}
.card:hover .lock {
  content: url("/images/Group\ 122.png");
}
.card:hover .unlock{
  content: url("/images/white\ unlock.png");
}


.card.plain {
  justify-content: center;
  background-color:#513e76e6 ;
  transition: background-color 0.3s;
}

.module-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 25px;
  box-sizing: border-box;
  text-decoration: none;
  color: white;

  transition: background-color 0.3s;
  border-radius: 12px;
}

.card:hover{
  background-color: #ad86c944;
}
.card.plain:hover{
  background-color: #5d498350;
}






.html-icon{
  height: 52px;
  margin-right: 10px;
}
.css-icon{
  height: 59px;
  margin-right: 7px;
  margin-left: -3px;
}
.js-icon{
  height: 52px;
  margin-left: -15px;
  margin-right: -4px;
}
.profile{
  margin-left: 900px;
}
 .module-btn span{
  font-family: "Jaini Purva",cursive;
  letter-spacing: 2px;
  font-size: 42px;
  font-weight: 100;
  line-height: 1;
  padding-right: 380px;
}
.menu{
  cursor:pointer;
  transition: content 0.3s;
}
.menu:hover{
content: url(/images/white\ menu.png);
height:19px ;
padding-bottom: 5px;
}
.profile {
    display: flex;
    align-items: center;
    gap: 8px;
}

.profile-pic-wrapper {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}

#home-profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

  
.profile-name{
  font-family:'Instrument Serif',serif ;
  letter-spacing: 1px;
  font-weight: small;
  margin-top: 3px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 230px;
  height: 100%;
  background-color: #30234f;
  color: #fff;
  padding: 20px;
  transition: 0.4s ease;
  z-index: 999;

  overflow-y: auto;
}
.sidebar::-webkit-scrollbar{
  width: 5px;
}
.sidebar::-webkit-scrollbar-thumb{
  background: rgba(255,255,255,0.3);
  border-radius: 10px;
}

.sidebar.open {
  left: 0;
}

.sidebar h2 {
  font-size: 22px;
  margin-bottom: 25px;
  font-family: "Instrument Serif", serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 18px 0;
}

.sidebar ul li a {
  color: #dddddd;
  text-decoration: none;
  font-family: "Instrument Serif", serif;
}

.sidebar ul li a:hover {
  color: white;
  text-decoration: underline;
}
.menu-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* ---------------- FONT SIZE HIERARCHY ---------------- */

/* Level 1: Main sidebar links (Home, Studydeck, etc.) */
.sidebar > ul > li > a,
.menu-row > a {
  font-size: 20px;
}

/* Level 2: HTML, CSS, JavaScript (inside Studydeck) */
.submenu > li > .menu-row > a {
  font-size: 19px;
  color: #d6d6d6;
}

/* Level 3: Subtopics (HTML/CSS/JS topics) */
.sub-submenu li a {
  font-size: 17px;
  color: #bfbfbf;
}

/* Hover clarity */
.submenu > li > .menu-row > a:hover,
.sub-submenu li a:hover {
  color: #ffffff;
}


.submenu,
.sub-submenu {
  list-style: none;
  padding-left: 15px;
  display: none;
  
}

.submenu li,
.sub-submenu li {
  margin: 10px 0;
}

/* Submenu links */
.submenu a,
.sub-submenu a {
  color: #cfcfcf;
  text-decoration: none;
}

.submenu a:hover,
.sub-submenu a:hover {
  color: #ffffff;
  text-decoration: underline;
}

/* Arrows */
.arrow {
  cursor: pointer;
  font-size: 15px;
  color: #cfcfcf;
  user-select: none;
}

.arrow:hover {
  color: #ffffff;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  display: none;
  z-index: 998;
}

.overlay.show {
  display: block;
}
