body{
  background-color: #2b2457;
  margin: 0px;
  font-family:'Instrument Serif',serif ;
  font-weight:100;
  
}
.navbar{
  background-color:#30234f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
  color: white;
}
.navbar img{
  width: 25px;
}
.point-span{
  font-size: 25px;
  padding: 5  px;
 }

 .profile{
  font-size:  25px;
 }
.right{
  display: flex;
  align-items: center;
  gap: 60px;
}

.header{
  color: white;
  padding: 0px 30px;
  padding-bottom: 15px;
  line-height:0.5;
}
.header p{
  font-size: 25px;
  word-spacing: 2px;
  letter-spacing: 1px;
}


.containers{
  display: flex;
  font-size: larger;
  margin-top: -20px;
}

.container1{
  background-color: grey;
  padding: 20px  80px 20px 20px;
  width: 350px;
  height: 450px;
  margin-left: 28px;
  font-size: 31px;
}
.top , .middle{
  padding-bottom: 20px;
}

.container2{
  background-color: white;
  margin-left: 20px;
}
.tryme-navbar{
  display: flex;
  background-color: grey;
  width: 1000px;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.left ,.right{
  padding: 10px;
  font-size: larger;
  
}
.run-button{
  padding: 8px 30px ;
  border-radius: 8px;
  font-size: 20px;
  border: none;
  font-family:serif;
}
.right-buttons {
    display: flex;
    justify-content: center;
    gap: 20px; 
    margin-top: 30px;
    float: right;
    margin-right: 30px;
}
.button-wrapper {
    position: relative;
    width: 180px;   
    height: 50px;  
}

.button-wrapper img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -5px;
}

.button-wrapper button {
    position: absolute;
    top: 50%;       
    left: 50%;     
    transform: translate(-50%, -50%);
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    padding-bottom: 10px;
    
    
}

