
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Instrument Serif', serif;

  background: url("/images/galaxyhd1git add .
  .png") no-repeat center center fixed;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  background-color: rgba(0, 0, 0, 0.5);
  padding: 25px 40px;
  border-radius: 12px;
}


.text-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

h1 {
  letter-spacing: 2px;
  margin: 0;
  color: white;
  text-align: center;
  font-weight: lighter;
}

.ninja-img {
  width: 40px;
  height: auto;
}

.button-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: transform 0.2s ease;
}

.btn img {
  width: 150px;
  height: auto;
  display: block;
}

.btn:hover {
  transform: scale(1.05);
}






