body {
    font-family: "Instrument Serif", serif;
    font-style: normal;
    background: url(images/galaxy.png);
}

.accountbox {
    box-sizing: border-box;
    background-color:rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    color: white;
    width: 90%;
    max-width: 550px;
    height: 500px;
    margin: 120px auto;
    border-radius: 30px;
}

.contents {
    margin-left: 80px;
}

.contents h1 {
    padding-top: 50px;
    margin: 0 55px;
    letter-spacing: 2px;
    
}

.input-box {
    margin-top: 40px;
}

.input-box input[type="text"],
.input-box input[type="password"] {
    width: 90%;
    max-width: 380px;
    margin: 10px 0;
    padding: 13px 5px;
    border-radius: 8px;
    border: none;
    outline: none;
    transition: box-shadow 0.3s;
    font-family: "Instrument Serif", serif;
    font-weight: bolder;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.5px;
    background-color: #2b2457;
    color: white;
    
    
}

.input-box input[type="text"]:focus,
.input-box input[type="password"]:focus {
    box-shadow: 0 0 5px 2px rgba(207, 134, 227, 0.5);
    
}
.input-box input[type="text"]:hover,
.input-box input[type="password"]:hover{
   background-color: rgba(146, 98, 178, 0.881);
}


input::placeholder{
    color: rgb(151, 150, 150);
    font-size: small;
    padding: 10px;
}

.submit {
    width: 90%;
    max-width: 250px;
    padding: 10px 5px;
    border-radius: 10px;
    border: none;
    background-color: white;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin: 20px 70px;
    display: block;
    font-family: "Instrument Serif", serif;
    font-size: 16px;
    letter-spacing: 1px;
    background-color: #170825;
    
}

.submit:hover {
    background-color: rgba(200, 120, 255, 0.9);
    color: white;
    font-weight: 300;
     box-shadow: 0 0 5px 2px rgba(207, 134, 227, 0.5);
}
#nameError{
    font-weight: bolder;
    
}
#emailError{
    font-weight: bolder;
}
#passwordError{
    font-weight: bolder;
}