
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Instrument Serif', serif;

  background: url("/images/galaxyhd1.png") no-repeat center center fixed;
  background-size: cover;
}



.text-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

h1 {
  letter-spacing: 2px;
  margin: 30;
  color: white;
  text-align: center;
  font-weight: lighter;
  font-size: 40px;
}

.ninja-img {
  width: 68px;
  height: auto;
}

.button-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: transform 0.2s ease;
}

.btn img {
  width: 250px;
  height: auto;
  display: block;
}

.btn:hover {
  transform: scale(1.05);
}






