body {
    margin: 0;
    padding: 0;
    background: url("/images/galaxyhd1.png") no-repeat center center/cover;
    font-family: "Georgia", serif;
    color: white;

    display: flex;
    justify-content: center;      
    align-items: center;          
    height: 100vh;                
}

.container {
    text-align: center;
}

.logo {
    width: 420px;
    display: block;
 
    margin-bottom: -50px;
}

.worm {
    width: 200px;
    display: block;
   margin-left: 90px;
   margin-bottom: -18px;

}

h1 {
    font-size: 38px;
    font-weight: normal;
    line-height: 1.3;
    margin-top: 20px;
    margin-right: 30px;
    font-family: 'Instrument Serif',serif;
    letter-spacing: 1px;
   
}
.start-btn {
    width: 250px; 
    height: 50px;     
    position: absolute;
    bottom: 40px;
    right: 40px;
    cursor: pointer;
    transition: 0.3s ease;
}

.start-btn:hover {
    transform: scale(1.1);
}
