.alert-box {
  display: none;
  background: url(/images/galaxyhd.png);
  position: fixed;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #30234f;
  padding: 20px;
  width: 400px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  border-radius: 8px;
  color: white;
}


.alert-box button {
  margin-top: 10px;
  padding: 6px 15px;
  background: grey;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}
