body{
  background-color: #2b2457;
  margin: 0px;
  font-family:'Instrument Serif',serif ;
  font-weight:100;
  
}
.navbar{
  background-color:#30234f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  color: white;
}
.navbar img{
  width: 25px;
}


 .point{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
 }

 .point-span{
  margin-top: 5px;
  margin-left: 5px;
 }
.right{
  display: flex;
  align-items: center;
  gap: 60px;
}

.header{
  color: white;
  padding: 0px 30px;
  padding-bottom: 20px;
  line-height:0.5;
}
.header p{
  font-size: 25px;
  word-spacing: 2px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}


.containers{
  display: flex;
  font-size: larger;
  margin-top: -20px;
  align-items: stretch;
  
}

.container1{
  background-color: grey;
  padding: 20px  80px 20px 20px;
  width: 350px;
  height: 450px;
  margin-left: 20px;
  font-size: 22px;
  white-space: nowrap;
  line-height: 24px;
}

.middle{
  padding-bottom: 10px;
}

.highlight-pre{
  margin-left: 10px;
  line-height: 30px;
  font-family:'Instrument Serif',serif ;
  margin-bottom: 10px;
  white-space: pre-line;
  
}
.highlight{
  color: #30234f;
  font-weight: bold;
}

.container2{
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
  flex: 1;
  height: 490px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

}

.editor {
  flex: 1;
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  resize: none;
  font-size: 18px;
  background-color: white;
  box-sizing: border-box;
}

.output {
  flex: 1;
  width: 100%;
  border: none;
  background: white;
  box-sizing: border-box; /* makes width include padding/border */
}



.tryme-navbar{
  display: flex;
  background-color: grey;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.left ,.right{
  padding: 10px;
  font-size: larger;
  
}
.run-button{
  padding: 8px 30px ;
  border-radius: 8px;
  font-size: 20px;
  border: none;
  font-family:serif;
}
.right-buttons {
    display: flex;
    justify-content: center;
    gap: 20px; 
    margin-top: 30px;
    float: right;
    margin-right: 30px;
}
.button-wrapper {
    position: relative;
    width: 180px;   
    height: 50px;  
}

.button-wrapper img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -5px;
}

.button-wrapper button {
    position: absolute;
    top: 50%;       
    left: 50%;     
    transform: translate(-50%, -50%);
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    padding-bottom: 10px;
    
    
}
.button-wrapper:hover{
  transform: scale(1.1);
  
}


@media (max-width: 1024px) {
  .containers {
    flex-direction: column;
    margin-top: 0;
  }

  .container1 {
    width: auto;
    height: auto;
    margin: 20px;
    font-size: 26px;
    padding: 20px;
  }

  .container2 {
    margin: 20px;
    height: 500px;
  }
}
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
  }

  .right {
    gap: 20px;
    flex-wrap: wrap;
  }
}
@media (max-width: 1025px) {
  .header p {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 0px;
  }

  .header h1 {
    font-size: 28px;
  }
}
@media (max-width: 768px) {
  .container2 {
    height: auto;
  }

  .editor,
  .output {
    min-height: 250px;
  }
}
@media (max-width: 768px) {
  .right-buttons {
    float: none;
    justify-content: center;
    margin-right: 0;
  }

  .button-wrapper {
    width: 150px;
    height: 45px;
  }

  .button-wrapper button {
    font-size: 16px;
  }
}



